@{
    ViewData["Title"] = "Home Page";
}

<div class="main-area container py-4 bg-light text-center">
    <div class="main-banner gx-0 row mb-4">
        <div class="col-12">
            <img id="3_bins" class="banner-img img-fluid w-100 shadow" src="image/3bins.jpg" alt="3 bins" />
        </div>
    </div>

    <div class="card-section row justify-content-center g-4">
        <!-- Card 1 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
            <div class="card main-color text-white h-100 align-self-center">
                <div class="card-body">
                    <img src="image/paper-recycling-image.jpg" class="img-fluid rounded mb-3" alt="Recycling Paper">
                    <h5 class="card-title">Paper Recycling</h5>
                    <p class="card-text">Some quick example text.</p>
                    <a href="#" class="card-btn btn btn-primary border border-3 border-black ">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
            <div class="card main-color text-white h-100 align-self-center">
                <div class="card-body">
                    <img src="image/glass-recycling-image.jpg" class="img-fluid rounded mb-3" alt="Glass Recycling">
                    <h5 class="card-title">Glass Recycling</h5>
                    <p class="card-text">Some quick example text.</p>
                    <a href="#" class="card-btn btn btn-primary border border-3 border-black">Go somewhere</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
            <div class="card main-color text-white h-100 align-self-center">
                <div class="card-body">
                    <img src="image/plastic-recycling-image.jpg" class="img-fluid rounded mb-3" alt="Plastic Recycling">
                    <h5 class="card-title">Plastic Recycling</h5>
                    <p class="card-text">Some quick example text.</p>
                    <a href="#" class="card-btn btn btn-primary border border-3 border-black">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
