@model DropOff

@{
    ViewBag.Title = "Drop-Off";
    Layout = "_Layout";
}

<div class="container p-3">
    <h2>Drop-Off</h2>
    <div class="row">
        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-2">
                <div class="ratio ratio-16x9">
                    <img src="~/image/location-sample.png" class="card-image card-img-top img-fluid" alt="Location sample">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Master Recyclers Bloemfontein</h5>
                    <p class="card-text">5a Mannion Rd · 051 447 5926 <br/>
                        <b>Open</b> ⋅ Closes 5pm</p>
                    <a href="#"  class="card-btn btn btn-primary border border-3 border-black ">View on Maps</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-2">
                <div class="ratio ratio-16x9">
                    <img src="/image/location-sample.png" class="card-image card-img-top img-fluid" alt="Location sample">
                </div>
                <div class="card-body">
                    <h5 class="card-title">NIEUWCO RECYCLING</h5>
                    <p class="card-text">15 Maasdorp St · 051 447 2099 <br/>
                        <b>Open</b> ⋅ Closes 5pm</p>
                    <a href="#"  class="card-btn btn btn-primary border border-3 border-black ">View on Maps</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card p-2">
                <div class="ratio ratio-16x9">
                    <img src="~/image/location-sample.png" class="card-image card-img-top img-fluid" alt="Location sample">
                </div>
                <div class="card-body">
                    <h5 class="card-title">RT RECYCLING</h5>
                    <p class="card-text">25 Douglas St · 082 853 4673 <br/>
                        <b>Open</b> ⋅ Closes 5pm</p>
                    <a href="#" class="card-btn btn btn-primary border border-3 border-black ">View on Maps</a>
                </div>
            </div>
        </div>
    </div> <!-- End row -->
</div>
