@model VideosTutorial

@{
    ViewBag.Title = "Videos/Tutorials";
    Layout = "_Layout";
}

<div class="container p-3">
    <div class="container p-3">
        <h2>Videos And Tutorial</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!-- Card 1-->
                <div class="card p-2">
                    <div class="ratio ratio-16x9 ">
                        <iframe class="video-link" width="640" height="360" src="https://www.youtube.com/embed/eSeXWk3UTWQ"
                                title="Why Recycling Is Important"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                        </iframe>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!--Card 2-->
                <div class="card p-2">
                    <div class="ratio ratio-16x9">
                        <iframe class="video-link" width="640" height="360" src="https://www.youtube.com/embed/_6xlNyWPpB8"
                                title="What really happens to the plastic you throw away - Emma Bryce"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>

                        </iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!-- Card 3-->
                <div class="card p-2">
                    <div class="ratio ratio-16x9">
                        <iframe class="video-link" width="640" height="360" src="https://www.youtube.com/embed/iO3SA4YyEYU"
                                title="The Story of Plastic (Animated Short)"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>

                        </iframe>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




